<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="author" content="">
    <meta name="description" content="">
  </head>

  <body>

    <header>
      {% include header.html %}
    </header>

    <nav>
      {% include nav.html %}
    </nav>

    <aside>
      {% include aside.html %}
    </aside>

    <section>
	<ul>
	  {% for post in site.posts %}
	    <li>
		<a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
		<p>{{ post.date }}</p>
		<p>{{ post.excerpt }}</p>
	    </li>
	  {% endfor %}
	</ul>	
    </section>

    <footer>
      {% include footer.html %}
    </footer>

  </body>

</html>
